input,
a.btn {
  margin-right: 10px;
  margin-left: 10px;
}
.toast-top-right {
  top: 70px;
}
.caret {
  margin-left: 5px;
}
span.badge {
  margin-left: 5px;
}
.navbar-brand {
  margin-right: 15px;
}
.list-group {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.container {
  float: none;
}
.marginl {
  margin-lef: 5px;
}
.marginr {
  margin-right: 5px;
}
.centered {
  text-align: center;
}
.va-middle {
  vertical-align: middle;
}
.align-right {
  text-align: right;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle;
}
footer.breadcrumb {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 35px;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 0px;
}
@media screen and (max-width: 770px) {
  #main-nav li a,
  #navbar-right li a {
    border-radius: 10px;
    border: 1px solid #808080;
    margin: 2px 0;
  }
  #navbar-right li a {
    width: 80%;
  }
  #login-form input {
    margin-bottom: 10px;
  }
  #login-button {
    margin-left: 5px;
  }
}
