input,
a.btn {
  margin-right: 10px;
  margin-left: 10px;
}
#logo-img {
  margin: -4px 20px 0 0;
}
.toast-top-right {
  top: 70px;
}
.caret {
  margin-left: 5px;
}
span.badge {
  margin-left: 5px;
}
.navbar-brand {
  margin-right: 15px;
}
.list-group {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.container {
  float: none;
}
.marginl {
  margin-lef: 5px;
}
.marginr {
  margin-right: 5px;
}
.centered {
  text-align: center;
}
.va-middle {
  vertical-align: middle;
}
.align-right {
  text-align: right;
}
.pointer:hover {
  cursor: pointer;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle;
}
footer.breadcrumb {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 35px;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 0px;
}
.ng-scope section {
  padding-bottom: 35px;
}
#dialog-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#dialog-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: 10;
}
#dialog {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10% 50%;
  margin-left: 32%;
  margin-top: 5%;
  width: 40%;
  background-color: #272b30;
  border: 1px inset #1c1e22;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.53);
  -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.53);
  box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.53);
  z-index: 20;
}
#dialog-header {
  font-weight: bold;
  text-align: center;
  padding: 2%;
  background-color: #2e3338;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #101214;
}
#dialog-header span {
  vertical-align: middle;
}
#dialog-content {
  padding: 5%;
}
#dialog-footer {
  background-color: #2e3338;
  vertical-align: middle;
  text-align: center;
  border-radius: 0 0 10px 10px;
  border-top: 1px solid #101214;
}
#dialog-footer button {
  width: 35%;
  margin: 3%;
}
@media screen and (max-width: 770px) {
  #main-nav li a,
  #navbar-right li a {
    border-radius: 10px;
    border: 1px solid #808080;
    margin: 2px 0;
  }
  #navbar-right li a {
    width: 80%;
  }
  #login-form input {
    margin-bottom: 10px;
  }
  #login-button {
    margin-left: 5px;
  }
}
