doctype
html
	head
		title Total score
		link(rel="stylesheet" href="../../lib/bootstrap/dist/css/bootstrap.css")
		link(rel="stylesheet" href="../../lib/toastr/toastr.css")
		link(rel="stylesheet" href="../../css/site.css")
	body(ng-app="app")

		block main-content

		include scripts
		include currentUser

		div#dialog-container
			div#dialog-overlay
			div#dialog
				div#dialog-header 
					span Confirmation
				div#dialog-content
				div#dialog-footer 
					button.btn.btn-success#btn-yes Yes
					button.btn.btn-danger#btn-no No