.caontainer
	table.table.col-md-10
		thead
			tr
				th(colspan="2") New invitations:
		tbody
			tr
				td.col-md-8 sdadsadas
				td.col-md-2
					button.btn.btn-default Accept
					button.btn.btn-default Decline

script(type='text/javascript').
	$('#main-nav li').removeClass('active');
	$('#nav-invitations').addClass('active');