.container(ng-controller="MainCtrl")
	.jumbotron
		h1 Total Score
		p Save your game statistics online
	.panel.panel-default
		.panel-heading About
		.panel-body
			p This is the place when you can summarize your scores


script(type='text/javascript').
	$('#main-nav li').removeClass('active');
	$('#nav-home').addClass('active');